// SPDX-License-Identifier: GPL-2.0
/*
 * i.MX93 11x11 EVK + IMX519 for linux-imx lf-6.1 / lf-6.6 (isi_0 + cameradev).
 * install-into-kernel.sh copies this as imx93-11x11-evk-imx519.dts on those trees.
 */
#include "imx93-11x11-evk.dts"

/ {
	model = "NXP i.MX93 11x11 EVK with Arducam IMX519";
	compatible = "fsl,imx93-11x11-evk-imx519", "fsl,imx93-11x11-evk",
		     "fsl,imx93";

	clk_imx519_24m: clock-imx519-24m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "imx519_xclk";
	};

	reg_imx519_vdig: regulator-imx519-vdig {
		compatible = "regulator-fixed";
		regulator-name = "imx519_vdig";
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
		regulator-always-on;
	};
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&cameradev {
	status = "okay";
};

&mipi_csi {
	status = "okay";

	port {
		mipi_csi_ep: endpoint {
			remote-endpoint = <&imx519_ep>;
			data-lanes = <2>;
			cfg-clk-range = <28>;
			hs-clk-range = <0x19>;
			bus-type = <4>;
		};
	};
};

&lpi2c3 {
	/delete-node/ ap1302_mipi@3c;

	imx519: imx519@1a {
		compatible = "sony,imx519";
		reg = <0x1a>;
		status = "okay";

		clocks = <&clk_imx519_24m>;
		clock-names = "xclk";
		reset-gpios = <&adp5585gpio 0 GPIO_ACTIVE_LOW>;
		VANA-supply = <&reg_avdd_2v8>;
		VDIG-supply = <&reg_imx519_vdig>;
		VDDL-supply = <&reg_vddio_1v8>;
		rotation = <0>;
		orientation = <2>;
		lens-focus = <&ak7375>;

		port {
			imx519_ep: endpoint {
				remote-endpoint = <&mipi_csi_ep>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <408000000>;
			};
		};
	};

	ak7375: ak7375@c {
		compatible = "asahi-kasei,ak7375";
		reg = <0x0c>;
		status = "okay";
		vdd-supply = <&reg_avdd_2v8>;
	};
};
